<html>
<body>
  <head>
<title>Url Shortener</title>
 </head>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>




    <form method="POST">
      {% csrf_token %}
      {% if form.errors %}
       {% for error in form.errors %}
       {{error}}
       {% endfor %}
       {% endif %}
        <div class="container">

        <div class="form-group">
          <br><br><br>

          <label for="exampleInputEmail1">Original Url</label>
          <br>
          {{form.originalUrl}}
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <br>

        <button type="submit" class="btn btn-primary">Shorten</button>
        </div>
    </div>
      </form>

</body>





  </html>